# Copyright (c) 2024 Perpetuator LLC

version: '3.7'

services:
  django:
    container_name: copilot-be-django
    build: .
    command: poetry run gunicorn copilot.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - static_volume:/app/staticfiles
      - media_volume:/app/media
      - ./db.sqlite3:/app/db.sqlite3
    ports:
      - "${COPILOT_DJANGO_PORT:-8000}:8000"
    restart: always

  nginx:
    container_name: copilot-be-nginx
    image: nginx:stable-alpine
    ports:
      - "${COPILOT_NGINX_PORT:-4210}:80"
    environment:
      - VIRTUAL_HOST={{ letsencrypt_host }}
      - VIRTUAL_PATH=/
      - LETSENCRYPT_HOST={{ letsencrypt_host }}
      - LETSENCRYPT_EMAIL={{ letsencrypt_email }}
    depends_on:
      - django
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - static_volume:/usr/share/nginx/html/static
      - media_volume:/usr/share/nginx/html/media

volumes:
  static_volume:
  media_volume:

networks:
  default:
    name: nginx-proxy
