<header>
    <nav>
        <ul>
            <li><a href="{% url 'landing_page' %}">Home</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
    {% if user.is_authenticated %}
    <li><a href="{% url 'account_logout' %}">Logout</a></li>
    <li><a href="{% url 'account_change_password' %}">Change Password</a></li>
    <li><a href="{% url 'account_email' %}">Change Email</a></li>
    <li><a href="{% url 'social_accounts' %}">Manage Social Accounts</a></li>
        {% if user.is_staff %}
        <li><a href="{% url 'admin:index' %}">Admin</a></li>
        {% endif %}
    {% else %}
        <li><a href="{% url 'account_login' %}">Login</a></li>
    {% endif %}
        </ul>
    </nav>
    <hr />
</header>