<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Capital Copilot{% endblock %}</title>
    <!-- CSS Files -->
    <link rel="stylesheet" href="{ % static 'css/style.css' %}">
    <!-- Additional head content (like external CSS or JS) -->
    {% block head %}{% endblock %}
</head>
<body>
<header>
    <!-- Site header content like logo and navigation -->
    <nav>
        <!-- Navigation items -->
    </nav>
</header>

<main>
    {% if messages %}
      {% for message in messages %}
        <div>{{ message }}</div>
      {% endfor %}
    {% endif %}
    <!-- Main content placeholder, to be overridden by child templates -->
    {% block content %}{% endblock %}
</main>

<footer>
    <!-- Site footer content -->
</footer>

<!-- Common JS Files -->
<script src="{ % static 'js/script.js' %}"></script>
<!-- Additional scripts -->
{% block scripts %}{% endblock %}
</body>
</html>
