<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Capital Copilot{% endblock %}</title>
    <link rel="stylesheet" href="{ % static 'css/style.css' %}">
    {% block head %}{% endblock %}
</head>
<body>

{% include 'snippets/header.html' %}

<main>
    {% include 'snippets/messages.html' %}
    {% block content %}{% endblock %}
</main>

{% include 'snippets/footer.html' %}

<script src="{ % static 'js/script.js' %}"></script>
{% block scripts %}{% endblock %}
</body>
</html>
