@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply bg-page-bg dark:bg-page-bg-dark text-page-text dark:text-page-text-dark;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .source-code-pro-regular {
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  h2 {
    font-weight: 600;
  }

  h1 {
    font-weight: 900;
  }

  hr {
    @apply border-stone-600 dark:border-stone-200;
  }

  .link, .inline-help a {
    @apply text-blue-500 hover:text-blue-700;
  }

  .dark .link {
    @apply text-blue-300 hover:text-blue-500;
  }

  .form-container {
    @apply max-w-lg mx-auto mt-10 mb-10 bg-form-bg dark:bg-form-bg-dark rounded-lg p-6 shadow-lg;
  }

  .form-container p {
    @apply mb-6;
  }

  .form-container h1 {
    @apply text-2xl font-semibold text-form-h1-text dark:text-form-h1-text-dark mb-6;
  }

  .form-container h2 {
    @apply text-2xl font-semibold text-form-h2-text dark:text-form-h2-text-dark mb-4;
  }

  .page-messages {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-4;
  }

  .messages-container {
    @apply bg-stone-300 text-stone-700 rounded-lg p-4;
  }

  .alert li, .messages-container li {
    @apply outline-2 rounded px-4 py-3;
  }

  .message-info {
    @apply border-blue-700 bg-blue-100 text-blue-500;
  }

  .message-success {
    @apply border-green-700 bg-green-100 text-green-700;
  }

  .message-warning {
    @apply border-orange-700 bg-orange-100 text-orange-500;
  }

  .errorlist {
    @apply border-red-400 bg-red-100 text-red-700 p-2 rounded-md;
  }

  .message-error {
    @apply border-red-400 bg-red-100 text-red-700;
  }

  .inline-error {
    @apply text-red-600 dark:text-red-500 italic;
  }

  .inline-help {
    @apply text-form-h2-text dark:text-form-h2-text-dark text-sm;
  }

  .form-container button {
    @apply bg-green-700 hover:bg-green-500 focus:ring-2 focus:ring-form-text focus:ring-opacity-50;
  }

  .dark .form-container button {
    @apply focus:outline-white focus:ring-2 focus:ring-form-text focus:ring-opacity-50;
  }

  .action-button, .form-container button {
    @apply py-2 px-4 rounded text-white;
  }

  .form-container button.button-primary {
    @apply bg-green-700 hover:bg-green-500;
  }

  .form-container button.button-blue {
    @apply bg-blue-600 hover:bg-blue-500;
  }

  .form-container button.button-red {
    @apply bg-red-600 hover:bg-red-500;
  }

  form input, form textarea, form select {
    @apply bg-stone-100 dark:bg-stone-800 border-stone-300 dark:border-stone-600 text-stone-900 dark:text-stone-200;
  }

  .form-container label {
    @apply block text-form-h2-text dark:text-form-h2-text-dark mb-2 text-sm font-bold;
  }

  .form-container input, .form-container textarea, .form-container select {
    @apply leading-normal rounded-lg border-gray-300 py-2 px-4 border text-gray-700 bg-white focus:outline-none;
  }

  .email-container {
    @apply max-w-lg mx-auto mt-10;
  }

  .status-badge {
    @apply text-xs font-semibold px-2.5 py-0.5 rounded;
  }

  .status-verified {
    @apply bg-purple-200 text-purple-800 dark:bg-purple-600 dark:text-purple-300;
  }

  .status-unverified {
    @apply bg-yellow-200 text-yellow-800 dark:bg-yellow-700 dark:text-yellow-300;
  }

  .status-primary {
    @apply bg-orange-200 text-orange-800 dark:bg-orange-600 dark:text-orange-300;
  }

  .no-transition {
    transition: none !important;
  }
}