; Copyright (c) 2024 Perpetuator LLC
[all:vars]
env=prod

[fe_servers]
192.168.1.123

[fe_servers:vars]
letsencrypt_host=copilot.example.com
letsencrypt_email=user@example.com
host_src_path=/opt/copilot/capital-copilot-fe
test_username=
test_email=
test_password=
